<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
<title>Mentoring - Bootstrap HTML Admin Mobile Template</title>

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/css/feather.css">

<link rel="stylesheet" href="assets/css/custom.css">
</head>
<body class="login">
<div class="main-wrapper">
<div class="page-content for-window-height d-flex align-items-center justify-content-center">
<div>
<div class="list">
<div class="back-btn">
<a href="index.html" class="back link">
<i class=" feather-arrow-left"></i>
</a>
</div>
<form action="index.html">
<div class="login-inner-col">
<div class="top-title">
<div>
<h3>Login</h3>
<h6>Access to our dashboard</h6>
</div>
</div>
<ul class="pt-5">
<li>
<div class="form-group">
<input type="text" class="form-control" placeholder="Email">
</div>
</li>
<li>
<div class="form-group">
<input type="password" class="form-control" placeholder="Password">
</div>
</li>
<li>
<div class="form-group">
<button type="submit" class="btn btn-submit btn-primary w-100">Login Now</button>
</div>
</li>
<li>
<div class="form-group forgot-password">
<a href="forgot-password.html">Forgot Password ?</a>
</div>
</li>
</ul>
<div class="login-or">
<span class="or-line"></span>
<span class="span-or">or</span>
</div>
<div class="social-login d-flex align-items-center justify-content-center">
<div class="me-3">
<span>Login with</span>
</div>
<div class="d-flex">
<a href="#" class="facebook me-2"><img src="assets/img/icons/facebook.svg" alt=""></a>
<a href="#" class="google"><img src="assets/img/icons/google.svg" alt=""></a>
</div>
</div>
<div class="text-center dont-have mt-4">Don’t have an account? <a href="register.html">Register</a></div>
</div>
</form>
</div>
</div>
</div>
</div>


<script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>
