<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
<title>Mentoring - Bootstrap HTML Mobile Template</title>

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/css/feather.css">

<link rel="stylesheet" href="assets/plugins/swiper/css/swiper.min.css">

<link rel="stylesheet" href="assets/css/custom.css">
</head>
<body class="body-bg-gray">
<div class="main-wrapper">

<div class="side-menu" id="sidebar-menu">
<div class="close-btn"><i class="feather-x"></i></div>
<ul>
<li>
<a class="" href="index.html">
<i class="feather-home"></i>
Dashboard
</a>
</li>
<li>
<a class="" href="appointments.html">
<i class="feather-align-right"></i>
Appointments
</a>
</li>
<li>
<a class="" href="bookings.html">
<i class="feather-book"></i>
Bookings
</a>
</li>
<li>
<a class="" href="schedule-timings.html">
<i class="feather-clock"></i>
Schedule Timings
</a>
</li>
<li>
<a class="" href="invoices.html">
<i class="feather-file-minus"></i>
Invoices
</a>
</li>
<li>
<a class="" href="chat.html">
<i class="feather-message-circle"></i>
Chat
</a>
</li>
<li>
<a class="" href="profile-settings.html">
<i class="feather-settings"></i>
Profile Settings
</a>
</li>
<li>
<a class="" href="reviews.html">
<i class="feather-star"></i>
Reviews
</a>
</li>
<li>
<a class="" href="pages.html">
<i class="feather-layout"></i>
Pages
</a>
</li>
<li>
<a class="" href="admin/login.html">
<i class="feather-user-plus"></i>
Admin
</a>
</li>
</ul>
<a class="sidebar-logout" href="login.html"><span><i class="feather-log-out"></i></span>Logout</a>
</div>


<div class="gradient-header"></div>
<header>
<div class="container">
<div class="left">
<span class="hamburgar-icon"><img src="assets/img/icons/hamburgar-icon.svg" alt=""></span>
</div>
<div class="page-header-title">
<h4>Appointment</h4>
</div>
</div>
</header>

<div class="container">
<div class="top-profile-widget">
<div class="d-flex align-items-center">
<div class="profile-left me-3">
<div class="avatar">
<span>JD</span>
</div>
 </div>
<div class="profile-right">
<h2>Jonathan Doe</h2>
<span>English Listerature (M.A)</span>
<div class="rating mt-2">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
</div>
</div>
</div>
<div class="progress-bar-custom">
<h6>Complete your profiles</h6>
<div id="myProgress" class="wrapper blue">
<div class="tooltip-toggle" tabindex="0" id="myBar"></div>
<div class="tooltip">80%</div>
</div>
</div>
</div>
</div>

<div class="mentee-list">
<div class="container">
<div class="section-title">
<h3>Mentee List</h3>
</div>
<div>
<div class="list-widget">
<div class="card">
<div class="card-body">
<div class="inner-widget">
<div class="widget-left">
<div class="avatar">
<img src="assets/img/user/user2.jpg" alt="" class="rounded-circle">
</div>
</div>
<div class="widget-right">
<h5>Tyrone Roberts</h5>
<div class="mentor-details mt-2">
<h5><i class="far fa-clock"></i> 14 Nov 2019, 10:00 AM</h5>
<h5><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
<h5><i class="fas fa-envelope"></i> <a href="../cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b2c6cbc0dddcd7c0ddd0d7c0c6c1f2d3d6ddd0d79cd1dddf">[email&#160;protected]</a></h5>
<h5 class="mb-0"><i class="fas fa-phone"></i> +1 923 782 4575</h5>
</div>
</div>
</div>
<div class="bottom-btn-col d-flex justify-content-center align-items-center">
<div class="appointment-action">
<a href="#" class="btn-small btn-primary-light view-btn" data-bs-toggle="modal" data-bs-target="#viewmodal"><span>View</span></a>
<a href="javascript:void(0);" class="btn-small bg-success-light">
<i class="fas fa-check"></i> Accept
</a>
<a href="javascript:void(0);" class="btn-small bg-danger-light">
<i class="fas fa-times"></i> Cancel
</a>
</div>
</div>
</div>
</div>
</div>
<div class="list-widget">
<div class="card">
<div class="card-body">
<div class="inner-widget">
<div class="widget-left">
<div class="avatar">
<img src="assets/img/user/user3.jpg" alt="" class="rounded-circle">
</div>
</div>
<div class="widget-right">
<h5>Tyrone Roberts</h5>
<div class="mentor-details mt-2">
<h5><i class="far fa-clock"></i> 14 Nov 2019, 10:00 AM</h5>
<h5><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
<h5><i class="fas fa-envelope"></i> <a href="../cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d3b2bfbfb6bdb7b2a5baa093b2b7bcb1b6fdb0bcbe">[email&#160;protected]</a></h5>
<h5 class="mb-0"><i class="fas fa-phone"></i> +1 260 724 7769</h5>
</div>
</div>
</div>
<div class="bottom-btn-col d-flex justify-content-center align-items-center">
<div class="appointment-action">
<a href="#" class="btn-small btn-primary-light view-btn" data-bs-toggle="modal" data-bs-target="#viewmodal"><span>View</span></a>
<a href="javascript:void(0);" class="btn-small bg-success-light">
<i class="fas fa-check"></i> Accept
</a>
<a href="javascript:void(0);" class="btn-small bg-danger-light">
<i class="fas fa-times"></i> Cancel
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="viewmodal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle">Appointment Details</h5> 
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<ul class="info-details">
<li>
<div class="details-header">
<div class="row">
<div class="col-6">
<span class="title">#APT0001</span>
<span class="text">21 Oct 2019 10:00 AM</span>
</div>
<div class="col-6">
<div class="text-end">
<a href="default.htm" class="btn-small bg-success-light" id="topup_status">Completed</a>
</div>
</div>
</div>
</div>
</li>
<li>
<span class="title">Status:</span>
<span class="text">Completed</span>
</li>
<li>
<span class="title">Confirm Date:</span>
<span class="text">29 Jun 2019</span>
</li>
<li>
<span class="title">Paid Amount</span>
<span class="text">$450</span>
</li>
</ul>
</div>
</div>
</div>
</div>

</div>


<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/plugins/swiper/js/swiper.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>