<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
<title>Mentoring - Bootstrap HTML Mobile Template</title>

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/css/feather.css">

<link rel="stylesheet" href="assets/plugins/swiper/css/swiper.min.css">

<link rel="stylesheet" href="assets/css/custom.css">
</head>
<body class="body-bg-gray">
<div class="main-wrapper">

<div class="side-menu" id="sidebar-menu">
<div class="close-btn"><i class="feather-x"></i></div>
<ul>
<li>
<a class="" href="index.html">
<i class="feather-home"></i>
Dashboard
</a>
</li>
<li>
<a class="" href="appointments.html">
<i class="feather-align-right"></i>
Appointments
</a>
</li>
<li>
<a class="" href="bookings.html">
<i class="feather-book"></i>
Bookings
</a>
</li>
<li>
<a class="" href="schedule-timings.html">
<i class="feather-clock"></i>
Schedule Timings
</a>
</li>
<li>
<a class="" href="invoices.html">
<i class="feather-file-minus"></i>
Invoices
</a>
</li>
<li>
<a class="" href="chat.html">
<i class="feather-message-circle"></i>
Chat
</a>
</li>
<li>
<a class="" href="profile-settings.html">
<i class="feather-settings"></i>
Profile Settings
</a>
</li>
<li>
<a class="" href="reviews.html">
<i class="feather-star"></i>
Reviews
</a>
</li>
<li>
<a class="" href="pages.html">
<i class="feather-layout"></i>
Pages
</a>
</li>
<li>
<a class="" href="admin/login.html">
<i class="feather-user-plus"></i>
Admin
</a>
</li>
</ul>
<a class="sidebar-logout" href="login.html"><span><i class="feather-log-out"></i></span>Logout</a>
</div>


<div class="gradient-header"></div>
<header>
<div class="container">
<div class="left">
<span class="hamburgar-icon"><img src="assets/img/icons/hamburgar-icon.svg" alt=""></span>
</div>
<div class="page-header-title">
<h4>Booking</h4>
</div>
</div>
</header>

<div class="container">
<div class="top-profile-widget">
<div class="d-flex align-items-center">
<div class="profile-left me-3">
<div class="avatar">
<span>JD</span>
</div>
</div>
<div class="profile-right">
<h2>Jonathan Doe</h2>
<span>English Listerature (M.A)</span>
<div class="rating mt-2">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
</div>
</div>
</div>
<div class="progress-bar-custom">
<h6>Complete your profiles ></h6>
<div id="myProgress" class="wrapper blue">
<div class="tooltip-toggle" tabindex="0" id="myBar"></div>
<div class="tooltip">80%</div>
</div>
</div>
</div>
</div>

<div class="mentee-list">
<div class="container">
<div class="section-title">
<h3>Mentee List</h3>
</div>
<div>
<div class="list-widget">
<div class="card">
<div class="card-body">
<div class="inner-widget">
<div class="widget-left">
<div class="avatar">
<img src="assets/img/user/user2.jpg" alt="" class="rounded-circle">
</div>
</div>
<div class="widget-right">
<h5>Tyrone Roberts</h5>
<span><a href="../cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="384c414a57565d4a575a5d4a4c4b78595c575a5d165b5755">[email&#160;protected]</a></span>
</div>
</div>
<div class="bottom-btn-col d-flex justify-content-center align-items-center">
<div>
<div class="date-col d-flex align-items-center pt-0">
<div class="date-icon"><img src="assets/img/icons/calendar-list.svg" alt=""></div>
<span> 08 August 2020</span>
</div>
</div>
<div>
<a href="#" class="btn-small btn-warning">09:00AM - 10:00AM</a>
</div>
</div>
</div>
</div>
</div>
<div class="list-widget">
<div class="card">
<div class="card-body">
<div class="inner-widget">
<div class="widget-left">
<div class="avatar">
<img src="assets/img/user/user4.jpg" alt="" class="rounded-circle">
</div>
</div>
<div class="widget-right">
<h5>Julie Pennington</h5>
<span><a href="../cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="543e21383d311435303b36317a373b39">[email&#160;protected]</a></span>
</div>
</div>
<div class="bottom-btn-col d-flex justify-content-center align-items-center">
<div>
<div class="date-col d-flex align-items-center pt-0">
<div class="date-icon"><img src="assets/img/icons/calendar-list.svg" alt=""></div>
<span> 08 August 2020</span>
</div>
</div>
<div>
<a href="#" class="btn-small btn-warning">09:00AM - 10:00AM</a>
</div>
</div>
</div>
</div>
</div>
<div class="list-widget">
<div class="card">
<div class="card-body">
<div class="inner-widget">
<div class="widget-left">
<div class="avatar">
<img src="assets/img/user/user3.jpg" alt="" class="rounded-circle">
</div>
</div>
<div class="widget-right">
<h5>Allen Davis</h5>
<span><a href="../cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="cdaca1a1a8a3a9acbba4be8daca9a2afa8e3aea2a0">[email&#160;protected]</a></span>
</div>
</div>
<div class="bottom-btn-col d-flex justify-content-center align-items-center">
<div>
<div class="date-col d-flex align-items-center pt-0">
<div class="date-icon"><img src="assets/img/icons/calendar-list.svg" alt=""></div>
<span> 08 August 2020</span>
</div>
</div>
<div>
<a href="#" class="btn-small btn-warning">09:00AM - 10:00AM</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/plugins/swiper/js/swiper.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>