<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
<title>Mentoring - Bootstrap HTML Mobile Template</title>

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/css/feather.css">

<link rel="stylesheet" href="assets/css/custom.css">
</head>
<body class="body-bg-gray">
<div class="main-wrapper">

<div class="side-menu" id="sidebar-menu">
<div class="close-btn"><i class="feather-x"></i></div>
<ul>
<li>
<a class="" href="index.html">
<i class="feather-home"></i>
Dashboard
</a>
</li>
<li>
<a class="" href="appointments.html">
<i class="feather-align-right"></i>
Appointments
</a>
</li>
<li>
<a class="" href="bookings.html">
<i class="feather-book"></i>
Bookings
</a>
</li>
<li>
<a class="" href="schedule-timings.html">
<i class="feather-clock"></i>
Schedule Timings
</a>
</li>
<li>
<a class="" href="invoices.html">
<i class="feather-file-minus"></i>
Invoices
</a>
</li>
<li>
<a class="" href="chat.html">
<i class="feather-message-circle"></i>
Chat
</a>
</li>
<li>
<a class="" href="profile-settings.html">
<i class="feather-settings"></i>
Profile Settings
</a>
</li>
<li>
<a class="" href="reviews.html">
<i class="feather-star"></i>
Reviews
</a>
</li>
<li>
<a class="" href="pages.html">
<i class="feather-layout"></i>
Pages
</a>
</li>
<li>
<a class="" href="admin/login.html">
<i class="feather-user-plus"></i>
Admin
</a>
</li>
</ul>
<a class="sidebar-logout" href="login.html"><span><i class="feather-log-out"></i></span>Logout</a>
</div>


<header class="blue-header">
<div class="container">
<div class="left">
<span class="hamburgar-icon"><img src="assets/img/icons/hamburgar-icon.svg" alt=""></span>
</div>
<div class="page-header-title">
<h4>Invoices</h4>
</div>
</div>
</header>


<div class="invoices pt-4">
<div class="container">
<div class="list-widget">
<div class="card">
<div class="invoice-top-col d-flex justify-content-between">
<div class="invoice-number">
#INV-0010
</div>
<div class="invoice-date">
14-Nov-2020
</div>
</div>
<div class="card-body">
<div class="inner-widget">
<div class="widget-left">
<div class="avatar">
<img src="assets/img/user/user2.jpg" alt="" class="rounded-circle">
</div>
</div>
<div class="widget-right">
<div class="d-flex justify-content-between">
<div>
<h5>Tyrone Roberts</h5>
</div>
<div>
<h4>$420</h4>
</div>
</div>
<div class="mt-1">
<span class="small">16</span>
</div>
<div class="appointment-action text-end mt-2">
<a href="invoice-view.html" class="btn-small btn-primary-light view-btn"><span>View</span></a>
<a href="#" class="btn-small btn-primary-light print-btn"><span>Print</span></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="list-widget">
<div class="card">
<div class="invoice-top-col d-flex justify-content-between">
<div class="invoice-number">
#INV-0009
</div>
<div class="invoice-date">
13-Nov-2020
</div>
</div>
<div class="card-body">
<div class="inner-widget">
<div class="widget-left">
<div class="avatar">
<img src="assets/img/user/user7.jpg" alt="" class="rounded-circle">
</div>
</div>
<div class="widget-right">
<div class="d-flex justify-content-between">
<div>
<h5>Julie Pennington</h5>
</div>
<div>
<h4>$200</h4>
</div>
</div>
<div class="mt-1">
<span class="small">01</span>
</div>
<div class="appointment-action text-end mt-2">
<a href="invoice-view.html" class="btn-small btn-primary-light view-btn"><span>View</span></a>
<a href="#" class="btn-small btn-primary-light print-btn"><span>Print</span></a>
 </div>
</div>
</div>
</div>
</div>
</div>
<div class="list-widget">
<div class="card">
<div class="invoice-top-col d-flex justify-content-between">
<div class="invoice-number">
#INV-0008
</div>
<div class="invoice-date">
12-Nov-2020
</div>
</div>
<div class="card-body">
<div class="inner-widget">
<div class="widget-left">
<div class="avatar">
<img src="assets/img/user/user3.jpg" alt="" class="rounded-circle">
</div>
</div>
<div class="widget-right">
<div class="d-flex justify-content-between">
<div>
<h5>Marvin Downey</h5>
</div>
<div>
<h4>$100</h4>
</div>
</div>
<div class="mt-1">
<span class="small">16</span>
</div>
<div class="appointment-action text-end mt-2">
<a href="invoice-view.html" class="btn-small btn-primary-light view-btn"><span>View</span></a>
<a href="#" class="btn-small btn-primary-light print-btn"><span>Print</span></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="list-widget">
<div class="card">
<div class="invoice-top-col d-flex justify-content-between">
<div class="invoice-number">
#INV-0007
</div>
<div class="invoice-date">
14-Nov-2020
</div>
</div>
<div class="card-body">
<div class="inner-widget">
<div class="widget-left">
<div class="avatar">
<img src="assets/img/user/user14.jpg" alt="" class="rounded-circle">
</div>
</div>
<div class="widget-right">
<div class="d-flex justify-content-between">
<div>
<h5>Jose Anderson</h5>
</div>
<div>
<h4>$100</h4>
</div>
</div>
<div class="mt-1">
<span class="small">16</span>
</div>
<div class="appointment-action text-end mt-2">
<a href="invoice-view.html" class="btn-small btn-primary-light view-btn"><span>View</span></a>
<a href="#" class="btn-small btn-primary-light print-btn"><span>Print</span></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>