<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
<title>Mentoring - Bootstrap HTML Mobile Template</title>

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/css/feather.css">

<link rel="stylesheet" href="assets/css/custom.css">
</head>
<body class="body-bg-gray">
<div class="main-wrapper">

<div class="side-menu" id="sidebar-menu">
<div class="close-btn"><i class="feather-x"></i></div>
<ul>
<li>
<a class="" href="index.html">
<i class="feather-home"></i>
Dashboard
</a>
</li>
<li>
<a class="" href="appointments.html">
<i class="feather-align-right"></i>
Appointments
</a>
</li>
<li>
<a class="" href="bookings.html">
<i class="feather-book"></i>
Bookings
</a>
</li>
<li>
<a class="" href="schedule-timings.html">
<i class="feather-clock"></i>
Schedule Timings
</a>
</li>
<li>
<a class="" href="invoices.html">
<i class="feather-file-minus"></i>
Invoices
</a>
</li>
<li>
<a class="" href="chat.html">
<i class="feather-message-circle"></i>
Chat
</a>
</li>
<li>
<a class="" href="profile-settings.html">
<i class="feather-settings"></i>
Profile Settings
</a>
</li>
<li>
<a class="" href="reviews.html">
<i class="feather-star"></i>
Reviews
</a>
</li>
<li>
<a class="" href="pages.html">
<i class="feather-layout"></i>
Pages
</a>
</li>
<li>
<a class="" href="admin/login.html">
<i class="feather-user-plus"></i>
Admin
</a>
</li>
</ul>
<a class="sidebar-logout" href="login.html"><span><i class="feather-log-out"></i></span>Logout</a>
</div>


<header class="blue-header">
<div class="container">
<div class="left">
<span class="hamburgar-icon"><img src="assets/img/icons/hamburgar-icon.svg" alt=""></span>
</div>
<div class="page-header-title">
<h4>Pages</h4>
</div>
</div>
</header>


<div class="pages-list">
<div class="container">
<div class="pt-2 pb-4">
<h5>App Pages</h5>
</div>
<ul>
<li>
<a href="mentor-dashboard.html"><i class="feather-layers"></i> <span>Mentor Dashboard</span></a>
</li>
<li>
<a href="bookings.html"><i class="feather-layers"></i> <span>Mentor Booking</span></a>
</li>
<li>
<a href="appointments.html"><i class="feather-layers"></i> <span>appointments</span></a>
</li>
<li>
<a href="chat.html"><i class="feather-layers"></i> <span>chat</span></a>
</li>
<li>
<a href="chat-view.html"><i class="feather-layers"></i> <span>Chat View</span></a>
</li>
<li>
<a href="schedule-timings.html"><i class="feather-layers"></i> <span>Schedule Timings</span></a>
</li>
<li>
<a href="invoices.html"><i class="feather-layers"></i> <span>Invoice</span></a>
</li>
<li>
<a href="invoice-view.html"><i class="feather-layers"></i> <span>Invoice View</span></a>
</li>
<li>
<a href="reviews.html"><i class="feather-layers"></i> <span>Reviews</span></a>
</li>
<li>
<a href="profile-settings.html"><i class="feather-layers"></i> <span>Profile Settings</span></a>
</li>
<li>
<a href="search-filter.html"><i class="feather-layers"></i> <span>Search Filter</span></a>
</li>
<li>
<a href="checkout.html"><i class="feather-layers"></i> <span>Checkout</span></a>
</li>
<li>
<a href="favourites.html"><i class="feather-layers"></i> <span>Favourites</span></a>
</li>
<li>
<a href="booking-success.html"><i class="feather-layers"></i> <span>Booking Success</span></a>
</li>
<li>
<a href="profile.html"><i class="feather-layers"></i> <span>Profile</span></a>
</li>
<li>
<a href="voice-call.html"><i class="feather-layers"></i> <span>Voice Call</span></a>
</li>
<li>
<a href="video-call.html"><i class="feather-layers"></i> <span>Video Call</span></a>
</li>
</ul>
<div class="pt-4 pb-4">
<h5>Blog Pages</h5>
</div>
<ul>
<li>
<a href="blog.html"><i class="feather-layers"></i> <span>Blog</span></a>
</li>
<li>
<a href="add-blog.html"><i class="feather-layers"></i> <span>Add Blog</span></a>
</li>
<li>
<a href="edit-blog.html"><i class="feather-layers"></i> <span>Edit Blog</span></a>
</li>
</ul>
<div class="pt-4 pb-4">
<h5>Authentication</h5>
</div>
<ul>
<li>
<a href="login.html"><i class="feather-layers"></i> <span>Login</span></a>
</li>
<li>
<a href="register.html"><i class="feather-layers"></i> <span>Register</span></a>
</li>
<li>
 <a href="forgot-password.html"><i class="feather-layers"></i> <span>Forgot Password</span></a>
</li>
<li>
<a href="change-password.html"><i class="feather-layers"></i> <span>Change Password</span></a>
</li>
</ul>
</div>
</div>

</div>


<script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>