<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
<title>Mentoring - Bootstrap HTML Mobile Template</title>

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/select2/select2.min.css">

<link rel="stylesheet" href="assets/css/feather.css">

<link rel="stylesheet" href="assets/plugins/swiper/css/swiper.min.css">

<link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
<div class="main-wrapper">

<div class="side-menu" id="sidebar-menu">
<div class="close-btn"><i class="feather-x"></i></div>
<ul>
<li>
<a class="" href="index.html">
<i class="feather-home"></i>
Dashboard
</a>
</li>
<li>
<a class="" href="appointments.html">
<i class="feather-align-right"></i>
Appointments
</a>
</li>
<li>
<a class="" href="bookings.html">
<i class="feather-book"></i>
Bookings
</a>
</li>
<li>
<a class="" href="schedule-timings.html">
<i class="feather-clock"></i>
Schedule Timings
</a>
</li>
<li>
<a class="" href="invoices.html">
<i class="feather-file-minus"></i>
Invoices
</a>
</li>
<li>
<a class="" href="chat.html">
<i class="feather-message-circle"></i>
Chat
</a>
</li>
<li>
<a class="" href="profile-settings.html">
<i class="feather-settings"></i>
Profile Settings
</a>
</li>
<li>
<a class="" href="reviews.html">
<i class="feather-star"></i>
Reviews
</a>
</li>
<li>
<a class="" href="pages.html">
<i class="feather-layout"></i>
Pages
</a>
</li>
<li>
<a class="" href="admin/login.html">
<i class="feather-user-plus"></i>
Admin
</a>
</li>
</ul>
<a class="sidebar-logout" href="login.html"><span><i class="feather-log-out"></i></span>Logout</a>
</div>


<div class="header-big"></div>
<header>
<div class="container">
<div class="left">
<span class="hamburgar-icon"><img src="assets/img/icons/hamburgar-icon.svg" alt=""></span>
</div>
<div class="page-header-title">
<h4>Schedule Timing</h4>
</div>
</div>
</header>


<div class="schedule-timings">
<div class="container">
<div class="top-time-slots d-flex align-items-center justify-content-between">
<div class="left">
<h5>Timing Slot Duration</h5>
</div>
<div class="right">
<div class="form-group mb-0">
<select class="form-control select">
<option value="1">30 mins</option>
<option value="2">40 mins</option>
<option value="1">50 mins</option>
<option value="2">60 mins</option>
</select>
</div>
</div>
</div>
<div class="swiper-container schedule-timings-slider">
<div class="swiper-wrapper">
<div class="swiper-slide">
<label class="item-content">
<div>
<input type="checkbox" name="checkbox" value="Sun" />
<div class="item-title">Sun</div>
<i class="icon icon-checkbox"></i>
</div>
</label>
</div>
<div class="swiper-slide">
<label class="item-content">
<div>
<input type="checkbox" name="checkbox" value="Mon" />
<div class="item-title">Mon</div>
<i class="icon icon-checkbox"></i>
</div>
</label>
</div>
<div class="swiper-slide">
<label class="item-content">
<div>
<input type="checkbox" name="checkbox" value="Tue" />
<div class="item-title">Tue</div>
<i class="icon icon-checkbox"></i>
</div>
</label>
</div>
<div class="swiper-slide">
<label class="item-content">
<div>
<input type="checkbox" name="checkbox" value="Wed" />
<div class="item-title">Wed</div>
<i class="icon icon-checkbox"></i>
</div>
</label>
</div>
<div class="swiper-slide">
<label class="item-content">
<div>
<input type="checkbox" name="checkbox" value="Thu" />
<div class="item-title">Thu</div>
<i class="icon icon-checkbox"></i>
</div>
</label>
</div>
<div class="swiper-slide">
<label class="item-content">
<div>
<input type="checkbox" name="checkbox" value="Fri" />
<div class="item-title">Fri</div>
<i class="icon icon-checkbox"></i>
</div>
</label>
</div>
<div class="swiper-slide">
<label class="item-content">
<div>
<input type="checkbox" name="checkbox" value="Sat" />
<div class="item-title">Sat</div>
<i class="icon icon-checkbox"></i>
</div>
</label>
</div>
</div>
</div>
<div class="schedule-list pt-5">
<div class="title-block d-flex justify-content-between mb-3">
<div class="block-title"><h5>Time Slots - Monday</h5></div>
<div class="edit-col">
<a href="#">
<i class="feather-edit"></i> Edit
</a>
</div>
</div>
<ul>
<li>
<div class="inner-list">
8:00 pm - 11.30pm
<span class="clear-icon"><i class="feather-x"></i></span>
</div>
</li>
<li>
<div class="inner-list">
11:30 pm - 1.30pm
<span class="clear-icon"><i class="feather-x"></i></span>
</div>
</li>
<li>
<div class="inner-list">
3:00 pm - 5.30pm
<span class="clear-icon"><i class="feather-x"></i></span>
</div>
</li>
<li>
<div class="inner-list">
6:00 pm - 11.00pm
<span class="clear-icon"><i class="feather-x"></i></span>
</div>
</li>
</ul>
</div>
</div>
</div>

</div>


<script src="assets/js/jquery-3.6.0.min.js"></script>
 
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/plugins/select2/select2.min.js"></script>

<script src="assets/plugins/swiper/js/swiper.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>